* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-container {
    background: gray;
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: 1px solid black;
    cursor: crosshair;
}

#black {
    background: black;
    cursor: crosshair;
}

#white {
    background: white;
    cursor: crosshair;
}