@import url("https://fonts.googleapis.com/css?family=VT323");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'VT323';
    background: #F2D8B3;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    height: 20px;
    display: flex;
    justify-content: center;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background: #D76735;
    border-radius: 20px;
    width: 500px;
    height: 525px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square-container {
    background: #F5F5DC;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    cursor: crosshair;
    border: 1px solid #E8DED1;
}

.settings {
    display: flex;
    gap: 50px;
    margin-top: 25px;
}

.slide-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #E8DED1; /* Grey background */
  outline: none; /* Remove outline */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #8FB0A9; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #8FB0A9; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

#number-of-squares {
    font-size: 25px;
}

.button-container {
    display: flex;
    gap: 15px;
}

button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #FBD266;
    border: none;
    transition: .05s ease-in-out 0s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.25);
}

#reset-button {
    background: #9B2226;
}

#write-button, 
#erase-button, 
#color-button,
#reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
}